utils/flows.json
[{"id":"baed9b1e.2eabe8","type":"tab","label":"Flow 1"},{"id":"cd61aff8.7f722","type":"mqtt in","z":"baed9b1e.2eabe8","name":"","topic":"lamotte/entree/sonoff_interrupteur/stat/POWER1","qos":"2","broker":"91116802.fad3f8","x":235,"y":94,"wires":[["8d224527.8e0c38","96a54bae.365d98"]]},{"id":"8d224527.8e0c38","type":"debug","z":"baed9b1e.2eabe8","name":"","active":false,"console":true,"complete":"payload","x":565,"y":54,"wires":[]},{"id":"96a54bae.365d98","type":"mqtt out","z":"baed9b1e.2eabe8","name":"sonoff_terasse_toit","topic":"lamotte/terasse/sonoff_terasse_toit/cmnd/POWER","qos":"","retain":"","broker":"91116802.fad3f8","x":575,"y":94,"wires":[]},{"id":"90bd6716.e40b88","type":"mqtt in","z":"baed9b1e.2eabe8","name":"","topic":"lamotte/entree/sonoff_interrupteur/stat/POWER2","qos":"2","broker":"91116802.fad3f8","x":235,"y":194,"wires":[["4bca029c.58900c","cd09c82d.307648"]]},{"id":"4bca029c.58900c","type":"mqtt out","z":"baed9b1e.2eabe8","name":"sonoff_terasse_sol","topic":"lamotte/terasse/sonoff_terasse_sol/cmnd/POWER","qos":"","retain":"","broker":"91116802.fad3f8","x":575,"y":194,"wires":[]},{"id":"cd09c82d.307648","type":"debug","z":"baed9b1e.2eabe8","name":"","active":false,"console":false,"complete":"false","x":555,"y":154,"wires":[]},{"id":"cd37e498.1ba2f8","type":"mqtt in","z":"baed9b1e.2eabe8","name":"","topic":"lamotte/sas_etage/sonoff_interrupteur/stat/POWER","qos":"2","broker":"91116802.fad3f8","x":251,"y":311,"wires":[["560cd8ad.0fdb98","1a739f03.7769c1"]]},{"id":"560cd8ad.0fdb98","type":"mqtt out","z":"baed9b1e.2eabe8","name":"","topic":"lamotte/sas_etage/sonoff_light/cmnd/POWER","qos":"","retain":"","broker":"91116802.fad3f8","x":669,"y":310,"wires":[]},{"id":"1a739f03.7769c1","type":"debug","z":"baed9b1e.2eabe8","name":"","active":false,"console":"false","complete":"payload","x":565,"y":265,"wires":[]},{"id":"c9bf6d0b.b659c","type":"http in","z":"baed9b1e.2eabe8","name":"","url":"/mqtt","method":"get","swaggerDoc":"","x":141,"y":496,"wires":[["4d9399e0.3d9978","27f1cee9.4670e2"]]},{"id":"5d2ce31e.63c49c","type":"debug","z":"baed9b1e.2eabe8","name":"","active":false,"console":"false","complete":"topic","x":917,"y":456,"wires":[]},{"id":"c3e914ba.6cfb58","type":"mqtt out","z":"baed9b1e.2eabe8","name":"","topic":"","qos":"","retain":"","broker":"91116802.fad3f8","x":910,"y":496,"wires":[]},{"id":"4d9399e0.3d9978","type":"change","z":"baed9b1e.2eabe8","name":"","rules":[{"t":"move","p":"req.query.topic","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":371,"y":496,"wires":[["1e554f8f.abf14"]]},{"id":"1e554f8f.abf14","type":"change","z":"baed9b1e.2eabe8","name":"","rules":[{"t":"move","p":"req.query.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":646,"y":496,"wires":[["c3e914ba.6cfb58","5d2ce31e.63c49c"]]},{"id":"27f1cee9.4670e2","type":"template","z":"baed9b1e.2eabe8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":313,"y":535,"wires":[["a020d933.686838"]]},{"id":"a020d933.686838","type":"http response","z":"baed9b1e.2eabe8","name":"","x":459,"y":535,"wires":[]},{"id":"88747c1f.c1db8","type":"mqtt in","z":"baed9b1e.2eabe8","name":"","topic":"lamotte/sdb_haut/presence","qos":"2","datatype":"auto","broker":"91116802.fad3f8","x":170,"y":800,"wires":[["be015b2c.edd2b8","4178fa41.27a354"]]},{"id":"be015b2c.edd2b8","type":"debug","z":"baed9b1e.2eabe8","name":"","active":true,"console":"false","complete":"payload","x":410,"y":740,"wires":[]},{"id":"c950a873.285ea8","type":"debug","z":"baed9b1e.2eabe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":740,"wires":[]},{"id":"4178fa41.27a354","type":"trigger","z":"baed9b1e.2eabe8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":410,"y":800,"wires":[["7dd21c7a.04f564","c950a873.285ea8"]]},{"id":"7dd21c7a.04f564","type":"mqtt out","z":"baed9b1e.2eabe8","name":"","topic":"lamotte/SDB/VMC/cmnd/POWER","qos":"","retain":"","broker":"91116802.fad3f8","x":760,"y":800,"wires":[]},{"id":"91116802.fad3f8","type":"mqtt-broker","z":"","broker":"HomeControl","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]